.carousel {
  position: relative;

  order: 1;

  width: 100%;
  padding: $gutter;

  background-color: $light-color;
  &-slides {
    position: relative;
  }
}

.slide {
  position: absolute;
  top: 0;

  display: flex;

  transition: opacity 0.5s;

  opacity: 0;
  border: 7px solid #ffffff;
  background-image: url(../img/carousel-item-bg.png);
  background-position: 50% 50%;
  background-size: cover;
  @media (max-width: $small) {
    flex-wrap: wrap;
    justify-content: center;
  }
  &.active {
    position: relative;
    z-index: 1;

    opacity: 1;
  }
  &__image {
    display: flex;
    align-items: center;

    padding: $gutter;
    @media (min-width: $large + 1) {
      flex: 0 0 250px;
    }
    @media (max-width: $large) and (min-width: $small + 1) {
      flex: 0 0 220px;
    }
    @media (max-width: $small) {
      flex: 1 0 100%;
      justify-content: center;
    }
    img {
      max-width: 100%;
    }
  }
  &-content {
    @media (min-width: $small + 1) {
      flex-grow: 1;

      padding: $gutter $gutter*2 $gutter $gutter;
    }
    @media (max-width: $small) {
      flex: 1 0 100%;

      max-width: calc(100vw - 135px);
      margin: 0 0 $gutter 0;

      text-align: center;
      text-overflow: ellipsis;
    }
    @media (max-width: $xsmall) {
      margin-bottom: 13px;
    }
  }
  &__text {
    color: #ffffff;

    font-size: 0.75rem;
    line-height: 1.5;
    @media (min-width: $small + 1) {
      flex-grow: 1;

      margin-bottom: $gutter;

      text-align: justify;
    }
    @media (max-width: $small) {
      margin: 0 0 $gutter 0;
      margin-bottom: 0;

      text-align: center;
    }
  }
  &__title {
    color: #ffffff;

    font-size: 1.5rem;
    font-weight: 300;
    @media (min-width: $small + 1) {
      flex-grow: 1;

      margin: $gutter 0;
    }
    @media (max-width: $small) {
      overflow: hidden;
      flex: 1 0 100%;

      max-width: calc(100vw - 135px);
      margin: 0 0 $gutter 0;

      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.carousel-control {
  position: absolute;
  z-index: 2;
  top: 50%;
  img {
    margin-top: -$gutter;
  }
  &.prev {
    left: 3px;
  }
  &.next {
    right: 3px;

    transform: scale(-1, 1);
  }
}
