* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-position: top center;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: Verdana, arial, sans-serif;
  font-size: 16px;
  line-height: 1.15;
}

a {
  text-decoration: none;
}

.container {
  max-width: 850px;
  margin: auto;
  padding-right: $gutter;
  padding-left: $gutter;
}
