.footer {
  padding: 35px 0 1px;

  background-color: rgba($dark-color, 0.4);
  &-wrapper {
    display: flex;
    @media (max-width: $small) {
      flex-wrap: wrap;
    }
  }
  &-left {
    order: 1;
    @media (max-width: $large) and (min-width: $small + 1) {
      flex: 0 0 60%;
    }
    @media (max-width: $small) {
      flex: 0 0 100%;
    }
  }
  &-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    order: 2;
    @media (max-width: $large) and (min-width: $small + 1) {
      flex: 0 0 40%;
    }
    @media (max-width: $small) {
      align-items: center;
      flex: 0 0 100%;
    }
    &__logo {
      margin: 15px;
      @media (max-width: $small) {
        margin-bottom: 13px;
      }
    }
    &__copyright {
      color: #ffffff;

      font-size: 0.75rem;
      @media (min-width: $large + 1) {
        padding: 55px 15px 0;
      }
      @media (max-width: $large) and (min-width: $small + 1) {
        padding: 77px 15px 0;
      }
      @media (max-width: $small) {
        padding-top: 29px;
      }
    }
  }
  &-twitter {
    display: flex;

    margin-top: 2px;
    &__image {
      position: relative;
      &::before {
        position: absolute;
        right: -19px;
        bottom: -14px;

        content: url(../img/twitter-speech-bubble.png);
      }
    }
    &__description {
      display: flex;
      flex-direction: column;

      margin-left: 14px;
      span {
        &:first-of-type {
          color: #ffffff;

          font-size: 1.5rem;
        }
        &:last-of-type {
          color: #727272;

          font-size: 0.75rem;
        }
      }
    }
  }
  &-post {
    margin: 11px 30px 29px 37px;
    padding: 20px 20px 19px;

    border-radius: 10px;
    background-color: rgba($dark-color, 0.4);
    @media (max-width: $xsmall) {
      margin-right: 0;
    }
    p {
      margin: 12px 0 8px;

      font-size: 0.75rem;
      line-height: 18px;
    }
    span {
      color: $accent-color;

      font-size: 0.6225rem;
      font-style: italic;
    }
  }
  &-menu {
    @media (min-width: $large + 1) {
      margin-top: 2px;
    }
    &__item {
      a {
        font-size: 0.675rem;
      }
    }
  }
}
