.header {
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 34px;
    margin-bottom: 33px;
  }
  &-menu {
    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 2px;
    &__list {
      z-index: 15;

      display: flex;
      align-items: center;

      min-height: 40px;
      margin: 0;
      padding: 0;

      list-style: none;
      @media (max-width: $large) {
        position: absolute;
        top: 100%;
        right: -15px;

        display: none;
        flex-direction: column;
        justify-content: center;

        width: 100vw;

        background-color: rgba($dark-color, 0.8);
      }
    }
    &__item {
      display: block;
      @media (min-width: $large + 1) {
        margin-left: 7px;
      }
      @media (max-width: $large + 1) {
        width: 100%;

        text-align: center;

        line-height: 1.5;
      }
    }
    &__link {
      display: block;

      padding: 12px 15px;

      color: $light-color;

      font-size: 0.75rem;
      line-height: 1.5;
      @media (max-width: $large) {
        padding: 15px 0;
        &:hover,
        &:focus {
          border-radius: 0;
        }
      }
      &:hover,
      &:focus {
        border-radius: 15px;
        background-color: rgba($base-color, 0.5);
      }
      &--active {
        background: linear-gradient(to bottom, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
        @media (min-width: $large + 1) {
          border-radius: 15px;
        }
      }
    }
  }
}
