.header {
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 34px;
    margin-bottom: 33px;
  }
  &-menu {
    position: relative;

    display: flex;
    align-items: center;
    &__list {
      display: flex;
      align-items: center;

      min-height: 40px;
      margin: 0;
      margin-bottom: 4px;
      padding: 0;

      list-style: none;
      @media (max-width: $large) {
        position: absolute;
        top: 100%;
        right: -15px;

        display: none;
        flex-direction: column;
        justify-content: center;

        width: 100vw;

        background-color: rgba($dark-color, 0.35);
      }
    }
    &__item {
      @media (min-width: $large + 1) {
        margin-left: 7px;
      }
      @media (max-width: $large + 1) {
        width: 100%;
        padding: 14px 0;

        text-align: center;
      }
      &:first-child {
        background: linear-gradient(0deg, lighten($accent-color, 15%) 1%, $accent-color 50%);
      }
    }
    &__link {
      padding: 13px 15px;

      color: $light-color;
      border-radius: 15px;

      font-size: 0.75rem;
      line-height: 1.5;
      &:hover,
      &:focus {
        background-color: rgba($base-color, 0.5);
      }
      &--active {
        @media (min-width: $large + 1) {
          background: linear-gradient(0deg, lighten($accent-color, 15%) 1%, $accent-color 50%);
        }
        ;
      }
    }
  }
}
