.main {
  &-container {
    margin-bottom: 50px;
    padding: $gutter;

    background-color: rgba($light-color, 0.11);
  }
  &-wrapper {
    display: flex;
    flex-wrap: wrap;

    background-color: $light-color;
  }
  &-content {
    flex: 1 0 calc(100% - #{$col-size});
    order: 3;

    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 20px 15px 15px;
    @media (max-width: $small) {
      flex: 1 0 100%;
      order: 2;

      margin-top: 30px;
      padding-left: 20px;
    }
    &__title {
      color: $accent-color;

      font-size: 1.5rem;
      font-weight: 300;
    }
    &__text {
      text-align: justify;

      color: $base-color;

      font-size: 0.75rem;
      line-height: 1.75em;
      span {
        color: #424242;

        font-style: italic;
      }
    }
  }
}
